.navbar{
    display: flex;
    border: 0px solid black;
    margin-top: 40px;
    
}
.nav-menu{
    list-style-type: none;
    display: flex;
    width: 380px; 
    justify-content: space-evenly;
    font-size: 18px;
}
.nav-menu li{
    position: relative;
   
}
.nav-menu a{
    text-decoration: none;
    display: block;
    color: white;

}
 .nav-menu a:hover{ 
    color: orange;
}

.dropdown-menu{
    position: absolute;
    display: none;
    z-index: 1;
    margin-left: -40px;
}
.dropdown-menu li{
    width:150px;
    list-style-type: none;
    background-color: aliceblue;
    color: black;
}
.dropdown-menu a{
    padding: 10px;
    color: black;
}
.dropdown:hover .dropdown-menu{
    display: block;

}